<log4net>
	<!--<log4net debug="true">-->
	<appender name="FileLogger" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="logDsDSpa-%date{yyyyMMdd}.txt" />
		<encoding value="utf-8" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{yyyy.MM.dd HH:mm:ss.fff} %-5level %message%newline" />		<!--[%thread]-->
		</layout>
	</appender>
	<appender name="ConsoleLogger" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="= %message%newline" />
		</layout>
	</appender>

	<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d [%t] %-5p %l - %m%n"/>
		</layout>
	</appender>


	<!--colored log on console-->
	<!--Red, Yellow, Blue, Green, Cyan-->
	<appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
		<mapping>
			<level value="INFO" />
			<forecolor value="Green" />
		</mapping>
		<mapping>
			<level value="ERROR" />
			<forecolor value="Red" />
		</mapping>
		<mapping>
			<level value="FATAL" />
			<forecolor value="Red" />
			<backcolor value="Yellow" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<forecolor value="Magenta" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<forecolor value="Gray" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="= %message%newline"/>
		</layout>
		<threshold value="DEBUG" />
	</appender>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="ColoredConsoleAppender" />
		<appender-ref ref="FileLogger" />
	</root>

	<logger name="AppLogger">
		<level value="DEBUG" />
	</logger>

</log4net>