<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="9.0.201" targetFramework="net481" />
  <package id="log4net" version="2.0.17" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="UTF.Unknown" version="2.5.1" targetFramework="net481" />
</packages>