[submodule "submodules/nuget"]
	path = submodules/nuget
	url = http://dualsoft.co.kr:8081/dualsoft/nuget.git
[submodule "submodules/ds"]
	path = submodules/ds
	url = http://dualsoft.co.kr:8081/dualsoft/ds.git
